@import "ionic-variables.css";
@import "tab-bar.css";

ion-card ion-img::part(image) {
    height: 30vh;
    object-fit: cover;
}

ion-title {
    text-align: center;
}

ion-tab-button ion-button::part(native) {
    padding-left: 16px;
    padding-right: 16px;
}